<div class="container">
	<!--  CABECERA PARA LA BUSQUEDA DE CAMPOS-->
	<section class="row" style="margin: 0px;">
		<div class="col-lg-12 text-center" style="margin: 0px">
          <h2 class="section-heading" >busqueda de canchas</h2>
          <h3 class="section-subheading text-muted">Formulario de busqueda de campos.</h3>
        </div>
    </section>
    
    <div class="row" style="margin-bottom : 40px; margin-top : 0px">
        <div class="col-md-6 col-md-offset-3">
            <form novalidate class="form-inline text-center" name="busquedaform" ng-submit="vm.buscar(vm.textobusqueda)">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="porcomplejo" value="complejo" ng-model="vm.busqueda" ng-change="vm.onchange()">
                            Por Complejo
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="pordisciplina" value="disciplina" ng-model="vm.busqueda" ng-change="vm.onchange()">
                            Por Disciplina
                        </label>
                    </div>
                </div>
                
                <div class="input-group">

                   <input type="text" name="textobusqueda" ng-model="vm.textobusqueda" class="form-control input-lg" placeholder= "inserte el nombre" required>
                   <span class="input-group-btn">
                        <button ng-disabled= "busquedaform.textobusqueda.$invalid" class="btn btn-default input-lg" type="submit">Buscar</button>
                   </span>
                </div>


            </form>
        </div>
    </div>

  <!-- SECCION PARA LOS RESULTADOS DE LA BUSQUEDA	-->
  <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
            <li ng-repeat="complejo in vm.complejos" ng-class="{'timeline-inverted':complejo.invertido}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" style="width : 100%; height: 100%;" ng-src="{{complejo.foto | imagenFilter}}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{complejo.nombre}} </h4>
                        <h4 class="subheading">Telf. {{complejo.telefono}}</h4>
                    </div>
                    <div class="timeline-body">

                        <strong>Ciudad </strong><p class="text-muted"> {{complejo.ciudad}}</p>
                        <strong>Direccion </strong><p class="text-muted"> {{complejo.direccion}}</p>
                        <strong>Como Llegar </strong><p class="text-muted"> {{complejo.comollegar}}</p>
                        <a class="btn btn-warning" ui-sref="app.visitante.complejo({id : complejo.id})">Ver Canchas<span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>

            </li>

            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Se Parte
                        <br>de
                        <br>CanchasSAAS!</h4>
                    </div>
            </li>
            </ul>
        </div>
    </div>
</div>