<cd-cabecera-pagina nombrecomplejo="{{complejo.nombre}}" datospagina="vm.datospagina"></cd-cabecera-pagina>

<div ng-include="'app/admin/reportes/diario.view.html'"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-fw fa-soccer-ball-o"></i>  Canchas Mas Requeridas</h3>
			</div>
			<div class="row">
				
				<div class="panel-body">
					<div class="col-lg-3">
						<h1 class="page-header">Gestion {{vm.gestion}}</h1>
						<select ng-options="gestion as gestion for gestion in vm.gestiones" 
								class="form-control" 
								ng-model="vm.gestion"
								ng-change="vm.cambiarGestion(vm.gestion)">
							<option>{{gestion}}</option>
						</select>
					</div>

					<div class="col-lg-9">
						<div ng-if="vm.listo" 
							donut-chart
							donut-data='vm.data'
							donut-resize='true'>
						</div>	
						
					</div>

					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th style="text-align:center">Campo Deportivo</th>
										<th style="text-align:center">Total Generado</th>
										<th style="text-align:center">Numero Reservas</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="reporte in vm.reportes">
										<td align="center">{{reporte.nombrecampo}}</td>
										<td align="right">{{reporte.totalgenerado | currency}}</td>
										<td align="right">{{reporte.numeroreservas}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>	  
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/admin/reportes/ganancias.view.html'"></div>